@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    transition: all .1s cubic-bezier(.64,-0.58,.31,1.5);
}

body {
    font-family: "Roboto", serif;
    color: 	#25D366;
    background-color: #ece5dd;
}

h1 {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
}

p {
    color: #150c02;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #075e54;
}

.logo p {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 20px;
    background-color: #075e54;
    color: #ece5dd;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #ece5dd;
    color: #25D366;
}

.stats {
    display: flex;
    gap: 10px;
}

.stats button {
    padding: 8px 16px;
    margin: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #25D366;
    cursor: pointer;
}

.stats button:hover{
    background-color: #ddd;
}

.posts-section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-entry{
    display: flex;
    flex-direction: column;
    background-color: #f9f1f1;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
}